extends layout

block content
  div(class="posts-container")
    h1(class="title") Posts
    p(class="description") These messages are posted by our exclusive members
    ul(class="posts")
    a(class="button create-post-button primary-button" href="/create-post") Create a post

