extends layout

block content
  div(class="create-posts-container")
    h1(class="title") Sign up
    if errors
      for error in errors
        div(class="error-message")= error.msg
    form(action="" method="post")
      div(class="input-wrapper")
        div(class="name-input-wrapper")
          input(class="text-input" id="firstname" name="firstname" type="text" placeholder="First name" maxlength="50" required)
          input(class="text-input" id="lastname" name="lastname" type="text" placeholder="Last name" maxlength="50")
        input(class="text-input" id="email" name="email" type="text" placeholder="Email" required)
        input(class="text-input" id="password" name="password" type="password" placeholder="Password" minlength="8" required)
        input(class="text-input" id="password-confirm" name="password-confirm" type="password" placeholder="Confirm password" minlength="8" required)
      div(class="button-row")
        a(href="/" class="button secondary-button") Cancel
        button(class="button primary-button") Submit